# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp

# LightGBM temporary models
*.txt
*.model

# Large data files (optional)
*.csv
*.zip
*.tar.gz
